.eupopup-container.eupopup-container-bottom {
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: white;
    color: $body-color;
    text-align: left;
    border: 2px solid $dark;
    box-shadow: .3em .3em 0 0 $dark;

    .eupopup-body a {
        color: $link-color;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
            color: $link-hover-color;
        }
    }

    .eupopup-buttons {
        padding: 1rem 0;
        margin: 0;
        .eupopup-button_1 {
            @extend .btn;
            @extend .btn-primary;
        }
    }
}