/*
* UCL Course scss.
*/

.pagelayout-course {

    .course-content {
        .course-section {
            padding: .5rem 0;

            /* Smaller section names to fit more on the page. */
            h3.sectionname {
                font-size: $h5-font-size;
            }

            /* Section collapse chevrons. */
            .icons-collapse-expand {
                // When expanded.
                background-color: $dark;
                color: white;
                border: 2px solid;
                @extend .mr-2;

                // When collapsed.
                &.collapsed {
                    color: $dark;
                    background-color: transparent;
                    &:hover {
                        background-color: $dark;
                        color: white;
                    }
                }
            }
            @include media-breakpoint-up(md) {
                .content.course-content-item-content {
                    margin-left: 3rem;
                }
            }
        }
    }

    /* Colapse/expand all sections link. */
    #collapsesections {
        @extend .btn;
        @extend .btn-dark;
        margin-top: -1rem; // SHAME - otherwise the expand chevron looks odd.
        /* TODO - chevron after.. */
    }

    /* Completion button. */
    .activity-completion {

        /* Use success btn. */
        button.btn-outline-secondary {
            @extend .btn-outline-success;
        }
        button.btn-success {
            @extend .btn-success;
        }
    }

    .activity-item:not(.activityinline) {
        border-radius: $border-radius;
        border: 1px solid $secondary;
    }

    /* Activity link. */
    .activityname {
        font-weight: 500;
    }

    /* Editing. */
    .activity-add {
        margin-bottom: 0 !important;
        &:hover,
        &:focus {
            background-color: rgba($primary, .05);
        }
    }

    // Add a topic.
    .changenumsections {
        border-top: none;
        margin-left: -3rem; // Line up with topic names.
        .fa-plus {
            width: 32px;
            height: 32px;
            &:before {
                content: "\f055";
            }
        }
    }
}

/* In course mod pages. */
.path-mod {
    /* Add back activity header bg color. */
    .activity-header:not(:empty) {
        background-color: $light;
    }

    // Mark as complete.
    .completion-info {
        /* Use success btn. */
        .btn-outline-secondary {
            @extend .btn-outline-success;
        }
    }

    // Incourse Next / previous mod links.
    #ucl-section-navigation {
        // Hide arrows added by moodle.
        .larrow,
        .rarrow {
            display: none;
        }
    }
}

/* Course catalogue/listing pages. */
#page-course-index-category {

    /* Select options - limit width. */
    #action_bar.tertiary-navigation .navitem {
        max-width: 300px;
    }

    /* Category name. */
    .categoryname {
        padding: 0 !important;
        margin: .25rem 0;
        font-size: 1.25rem;
        font-weight: 500;
        background-image: none;
        &:before {
            font: var(--fa-font-solid);
            content: "\f0c8"; // Default icon.
            margin: .5rem;
        }
    }

    /* Expandable cats. */
    .category.with_children > .info > {
        .categoryname {
            &:before {
                cursor: pointer;
                font: var(--fa-font-regular);
                content: "\f146";
            }
            &:hover:before {
                color: $link-color;
            }
        }
    }

    /* Collapsed, so expand icon. */
    .course_category_tree .category.with_children.collapsed > .info > .categoryname:before {
        content: "\f0fe";
    }

    /* Indent subcategories. */
    .category {
        .subcategories {
            margin-left: 1rem;
        }
    }

    /* Courses in a cat. */
    .courses.category-browse {
        border-bottom: 2px solid;
        padding: 1rem 0;
        margin-bottom: 1rem;
    }
}

/* Search courses results page. */
#page-course-search {
    #region-main-box {
        padding-bottom: 3rem;
    }

    .coursebox {
        border: none;
        padding: .25rem 0;
        margin: 0;
    }

    .page-header-headings {
        display: none;
    }

    // Style search box.
    div.simplesearchform {
        background-color: $light;
        padding: 1rem;
        margin-bottom: 1rem;

        &:before {
            content: "Search for a course";
            display: block;
            font-weight: bold;
            padding-bottom: .5rem;
        }
        .input-group {
            min-width: 320px;
        }
    }
}

/* Course enrol page. */
#page-enrol-index,
#page-course-info {
    /* Hide moodle output, we output UCL things instead. */
    #page-header {
        display: none;
    }
    #maincontent + h2 {
        display: none;
    }
    /* Initials circle. */
    .size-50 {
        width: 50px;
        height: 50px;
    }
    /* Enrol box. */
    @include media-breakpoint-up(lg) {
        /* Enrol box. */
        .generalbox {
            width: 60%;
        }
        /* Course contacts. */
        .ucl-course-contacts {
            width: 33%;
            float: right;
        }
    }
}