/*
* UCL Dashboard css.
*/

/* Dashboard. */
#page-my-index {

    &.pagelayout-mydashboard {
        #page-header {
            display: none;
        }

        &.editing {
            #page-header {
                display: block;
            }
        }
    }


   /* Block alerts - remove gutters. */
   .block_alerts.block {
       margin-bottom: 0 !important;

       /* Remove y padding. */
       .card-body {
           padding: 0 1rem !important;
       }
   }

   .block_timeline.block,
   #block-region-side-pre {

       .card-title {
            display: inline-block !important;
            font-size: $h3-font-size;
            margin: 0;
            @extend .py-3;
        }

        .card-body {
            padding: 0 !important;
        }
   }

   .block_news.block {
       @extend .full-width;
       background-color: $light !important;
       margin-bottom: 0 !important;
       margin-top: 2rem;

       .card-body {
            @extend .container;
       }

       .card-title {
           display: inline-block !important;
           font-size: $h3-font-size;
           @extend .py-2;
       }
   }
}