/*
* UCL Drawers css.
*/

.drawer {

    &.drawer-left,
    &.drawer-right {
        top: 0 !important;
        height: 100vh !important;
    }

    &.drawer-left {
        background-color: white;
        border-right: 1px solid $secondary;
    }

    .drawerheader {
        box-shadow: none !important;
        height: auto;
    }

    // Course index.
    .courseindex {
        // Current item.
        .courseindex-item.pageitem {
            color: $dark;
            border-left: 1px solid $primary;
            background-color: rgba($primary, .1);
            // SHAME - overwite colours of highlighted item link.
            a {
                color: $dark !important;
                &:hover,
                &:focus {
                    color: $link-hover-color !important;
                }
            }
        }
    }
}
// Disable 'hightlighted' pageitem when scrolling on course page.
.path-course {
    .drawer {
        .courseindex {
            // Current item.
            .courseindex-item.pageitem {
                background-color: transparent;
                color: $dark;
                border-left-color: transparent;
            }
        }
    }
}