/*
* UCL footer.
*/

#ucl-footer {
    /* Dark footer, so white content. */
    *,
    a {
        color: white;
    }

    // Footer search.
    #ucl-footer-search {
        input,
        .btn {
            &:focus-visible {
                outline: 2px solid white;
            }
        }
        // Toggle submit button based on selected option.
        &:has(option[value="ucl-footer-search-course"]:checked) #ucl-footer-search-course {
            display: inline-block !important;
        }
        &:has(option[value="ucl-footer-search-all"]:checked) #ucl-footer-search-all {
            display: inline-block !important;
        }
    }

    #footer-metadata {
        a {
            padding-right: .5rem; // Space on inline links.

            /* Hide icons on help and contact links. */
            .icon {
                display: none;
            }
        }

        .logininfo a {
            padding-right: 0; // No padding for logout link.
        }

        /* SHAME - some moodle links are in divs, so inline them. */
        div {
            display: inline-block;
        }
    }
}



