/* Mod icons. */

/* Filters to colour icons. */
.f-content {
    filter: invert(23%) sepia(92%) saturate(1970%) hue-rotate(198deg) brightness(99%) contrast(102%) !important; // Primary blue.
}

.f-communication {
    filter: invert(54%) sepia(25%) saturate(6685%) hue-rotate(146deg) brightness(101%) contrast(77%) !important; // UCL vibrant blue.
}

.f-assessment {
    filter: invert(12%) sepia(97%) saturate(3391%) hue-rotate(320deg) brightness(93%) contrast(94%) !important; // UCL pink.

}

.f-collaboration {
    filter: invert(53%) sepia(96%) saturate(392%) hue-rotate(72deg) brightness(88%) contrast(81%) !important; // UCL green.

}

/* Standard icons. */
.activityiconcontainer {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent !important;

    &.btn {
        display: flex;
    }

    .activityicon,
    .icon {
        width: 2rem;
        height: 2rem;
        /* Default - icons with nofilter keep there colours. */
        /* E.g. matlab, and mod URL which links to a pdf and outputs a tragically dated looking pdf icon. */
        &.nofilter {
            filter: none;
        }
    }

    &.content {
        img {
            /* Content mods can have coloured icons (others cannot so far...) */
            &:not(.nofilter) {
                @extend .f-content;
            }
        }
    }

    &.communication {
        img {
            @extend .f-communication;
        }

    }

    &.assessment {
        img {
            @extend .f-assessment;
        }

    }

    &.collaboration,
    &.administration {
        img {
            @extend .f-collaboration;
        }
    }
}

/* None mapped mods we want to colorise with filters. */
/* SHAME - class contains selector as modtype_ on course page and modicon_ elsehwere. */
[class*='customcert'],
[class*='hotpot'],
[class*='turnitintooltwo'] {
    .activityicon {
        @extend .f-assessment;
    }
}

[class*='helixmedia'],
[class*='hvp'] {
    .activityicon {
        @extend .f-content;
    }
}

[class*='hsuforum'] {
    .activityicon {
        @extend .f-communication;
    }
}