html,
body {
    height: auto;
}

// Reduce font size on small screen.
@include media-breakpoint-down(md) {
    html {
        font-size: 14.5px;
    }
}

// Moodle page.
#page.drawers {
    height: 100% !important;
    padding: 0 !important; // Remove 3rem large padding. */
    margin-top: 0;
}
// Stop overflow when drawers open.
.path-course-view #page.drawers {
    overflow-x: hidden;
}

/* Reset max page width. */
.main-inner,
.secondary-navigation,
.container {
    max-width: 1140px !important;
    margin-top: 0 !important;
}

.main-inner {
    padding: 0 1rem !important;
    width: 100% !important; // Remove small screen width restriction.
    margin-bottom: 0 !important;
}

/* Maincontent accessability skip link. */
#maincontent {
    height: auto;
    + br {
        display: none;
    }
}

/* To position draw toggles we make page relative. */
#page {
    position: relative;

    .drawer-toggles .drawer-toggler {
        position: absolute;
        top: 1rem !important;
        z-index: 333;
    }
}

/* Blocks. */
.block.card {
    border: none;
}

/* Breadcrumb. */
#page-navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    .breadcrumb:not(:empty) {
        background-color: white;
        padding: 1rem 0;
        /* Flex to allow for course image. */
        .breadcrumb-item,
        .breadcrumb-item a {
            display: flex;
            align-items: center;
        }
    }
}

// User initials.
.userinitials {
    background-color: $dark;
    color: white;
    border: 2px solid white;
    margin: 0;
}
.userloggedinas .userinitials {
    background-color: $dark !important;
    color: white !important;
}
.userpicture {
    border-radius: 100%;
}

// Blocks.
.block-add {
    border: 1px solid $primary !important;
}

// Highlight text searched for.
.highlight {
    color: $dark;
    background-color: $yellow;
}


