{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_ucl/footer
}}

<footer id="ucl-footer" class="bg-dark py-4 pb-5 d-print-none">
    <div class="container">
        <div class="row pb-3">
            <div class="col">
                <img style="height: 3.5rem;"  alt="" src="{{ config.wwwroot }}/theme/ucl/pix/headerlogo.svg" />
            </div>

            <div class="col-4 text-right">
                <form action="{{ config.wwwroot }}/course/search.php" method="get" accept-charset="utf-8">
                    <div class="input-group py-2">
                        <input type="search" name="q" placeholder="Search courses" class="form-control" aria-labelledby="course-search-form-label"/>
                        <button type="submit" class="btn btn-warning text-dark">Search</button>
                    </div>
                </form>

                <form action="{{ config.wwwroot }}/search/index.php" method="post" accept-charset="utf-8">
                    <div class="input-group py-2">
                        <input type="search" name="q" placeholder="Search moodle" class="form-control" aria-labelledby="course-search-form-label"/>
                        <button type="submit" class="btn btn-warning text-dark">Search</button>
                    </div>
            </div>
        </div>

        <div class="row">
            {{{ output.footerusermenu }}}
            {{{ output.footer_content }}}

        </div>

        {{{ output.footermetadata }}}

    </div>
</footer>

{{{ output.standard_end_of_body_html }}}