{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_ucl/footer
}}
<style>
#ucl-footer-search:has(option[value="course"]:checked) #ucl-footer-search-course {
    display: inline-block !important;
}
#ucl-footer-search:has(option[value="all"]:checked) #ucl-footer-search-all {
    display:  inline-block !important;
}
</style>
<footer id="ucl-footer" class="bg-dark py-4 pb-5 d-print-none">
    <div class="container">
        <div class="row pb-5">
            <div class="col mb-3">
                <img style="height: 3.5rem;"  alt="" src="{{ config.wwwroot }}/theme/ucl/pix/headerlogo.svg" />
            </div>

            <div id="ucl-footer-search" class="col-md-4 text-right">
                <form role="search" method="get" accept-charset="utf-8">
                    <fieldset>
                        <legend class="text-left h5">Search UCL Moodle</legend>
                        <div class="input-group py-2">
                            <label for="ucl-footer-search-input" class="sr-only">Search term</label>
                            <input id="ucl-footer-search-input" type="text" name="q" placeholder="Search" class="form-control" required />
                            <label for="ucl-footer-search-select" class="sr-only">Search area</label>
                            <select id="ucl-footer-search-select" class="btn btn-warning text-dark text-left custom-select" required>
                                <option value="" selected disabled>search area</option>
                                <option value="course">for a Course</option>
                                <option value="all">UCL Moodle</option>
                            </select>
                        </div>

                        <button id="ucl-footer-search-course" type="submit" formaction="{{ config.wwwroot }}/course/search.php"  class="btn btn-warning text-dark d-none">Submit</button>

                        <button id="ucl-footer-search-all" type="submit" formaction="{{ config.wwwroot }}/search/index.php"  class="btn btn-warning text-dark d-none">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="row">
            {{{ output.footerusermenu }}}
            {{{ output.footer_content }}}

        </div>

        {{{ output.footermetadata }}}

    </div>
</footer>

{{{ output.standard_end_of_body_html }}}