{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_ucl/footer-metadata

    Example context (json):
    {
        "standard_footer_html": "<div><a href='foo'>foo</a></div>",
        "page_doc_link": "<a href='foo'>Moodle docs for this page</a>",
        "supportemail": "<a href='foo'>Contact us</a>",
        "login_info": "you are logged in as foo (loutout)",

    }
}}

<div id="footer-metadata" class="mt-4">
    <hr class="bg-white">
    <p>
        {{{ standard_footer_html }}}
        {{{ page_doc_link }}}
        {{{ supportemail }}}
    </p>

    <div>
        {{{ login_info }}}
        <div class="tool_usertours-resettourcontainer"></div>
    </div>
    <hr class="bg-white">

    <div class="pb-5">
        © {{year}} UCL
        <br>
        University College London, Gower Street, London, WC1E 6BT
        <br>Tel: +44 (0) 20 7679 2000
    </div>

</div>

<div class="col-12 col-lg-4 col-md-6">
  <h2>Moodle guides</h2>
  <ul class="list-unstyled">
    <li><a
        href="https://www.ucl.ac.uk/accessibility/moodle-accessibility-statement"
        target="_blank" >Staff guide</a></li>
    <li><a href="https://www.ucl.ac.uk/disclaimer" target="_blank"
        >Student guide</a></li>
    <li><a
        href="https://qualtrics.ucl.ac.uk/jfe/form/SV_6h7p60YBIVGS0VE?Q_EED=eyJTZXJ2aWNlTmFtZSI6Ik1vb2RsZSJ9"
        target="_blank" >Lecturecats</a></li>
    <li><a href="https://www.ucl.ac.uk/foi" target="_blank"
        >Turnitin plagarism</a></li>
    <li><a href="https://www.ucl.ac.uk/legal-services/privacy" target="_blank"
        >stuff</a></li>
    <li><a href="https://www.ucl.ac.uk/procurement/suppliers/slavery-stmt"
        target="_blank" >more stuff</a></li>
  </ul>
</div>
<div class="col-12 col-lg-4 col-md-6">
  <h2>Stuff</h2>
  <ul class="list-unstyled">
    <li><a
        href="https://www.ucl.ac.uk/accessibility/moodle-accessibility-statement"
        target="_blank" >Accessibility statement</a></li>
    <li><a href="https://www.ucl.ac.uk/disclaimer" target="_blank"
        >Disclaimer</a></li>
    <li><a
        href="https://qualtrics.ucl.ac.uk/jfe/form/SV_6h7p60YBIVGS0VE?Q_EED=eyJTZXJ2aWNlTmFtZSI6Ik1vb2RsZSJ9"
        target="_blank" >Feedback on UCL Moodle</a></li>
    <li><a href="https://www.ucl.ac.uk/foi" target="_blank"
        >Freedom of information</a></li>
    <li><a href="https://www.ucl.ac.uk/legal-services/privacy" target="_blank"
        >Privacy and cookies</a></li>
    <li><a href="https://www.ucl.ac.uk/procurement/suppliers/slavery-stmt"
        target="_blank" >Slavery statement</a></li>
  </ul>
</div>