<div id="ucl-footer-search" class="col-md-4 text-right">
    <form id="ucl-footer-search-form" class="pb-2" method="get" accept-charset="utf-8">
        <fieldset>
            <legend class="text-left h5">Search UCL Moodle</legend>
            <div class="input-group py-2">

                <label for="ucl-footer-search-input" class="sr-only">Search term</label>
                <input id="ucl-footer-search-input" type="text" name="q" placeholder="Search term" class="form-control text-body" required>

                <label for="ucl-footer-search-select" class="sr-only">Search area</label>
                <select id="ucl-footer-search-select" class="btn btn-warning text-dark text-left custom-select" required>
                    <option value="" selected disabled>search area</option>
                    <option value="ucl-footer-search-course">for a Course</option>
                    <option value="ucl-footer-search-all">UCL Moodle</option>
                </select>

            </div>
            <div id="ucl-footer-search-form-submit">

                <button id="ucl-footer-search-all" type="submit" formaction="{{ config.wwwroot }}/search/index.php"  class="btn btn-warning text-dark d-none" disabled >Search</button>

                <button id="ucl-footer-search-course" type="submit" formaction="{{ config.wwwroot }}/course/search.php"  class="btn btn-warning text-dark d-none" disabled >Search</button>

            </div>
        </fieldset>
    </form>

    <a href="{{ config.wwwroot }}/moodle43/course/"><i class="fa-solid fa-circle-arrow-right mr-2"></i>Browse all courses</a>
</div>

{{#js}}
require(['jquery'], function($) {
    /* Footer search form js. */
   $('#ucl-footer-search-select').on('change', function() {
        $('#ucl-footer-search-form-submit :input').prop("disabled", true);
        $('#' + this.value).prop("disabled", false);
   });
});
{{/js}}