{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div>
    <strong>TODO - Course name {{{ coursename }}}</strong>
    <strong>TODO - Search things...</strong>
    <button id="courseindex-toggle" class="btn btn-sm btn-outline-primary" type="button"  aria-pressed="false">
        <i class="fa-solid fa-arrows-up-down mx-1"></i>
        <span class="courseindex-toggle-expand">Expand</span>
        <span class="courseindex-toggle-collapse">Collapse</span>
        all sections
    </button>

</div>
<style>
#courseindex-toggle[aria-pressed=true] .courseindex-toggle-expand {
    display: none;
}
#courseindex-toggle[aria-pressed=false] .courseindex-toggle-collapse {
    display: none;
}
</style>

{{#js}}
require(['jquery'], function($) {
    $('#courseindex-toggle').on('click', function() {
        state = $(this).attr('aria-pressed');
        if (state=='false') {
            $('#courseindex-content .courseindex-item-content.collapse').collapse('show');
            $(this).attr('aria-pressed', 'true');
        }
        if (state=='true') {
            $('#courseindex-content .courseindex-item-content.collapse').collapse('hide');
            $(this).attr('aria-pressed', 'false');
        }
    });
});
{{/js}}