{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{! Admin links output in user menu. }}

<a class="dropdown-item" href="{{{ config.wwwroot }}}/admin/search.php">Site administration</a>
<a class="dropdown-item" href="{{{ config.wwwroot }}}/admin/search.php#linkusers">Users</a>
<a class="dropdown-item" href="{{{ config.wwwroot }}}//admin/roles/manage.php">Define roles</a>
<a class="dropdown-item" href="{{{ config.wwwroot }}}/admin/search.php#linkcourses">Courses</a>
<a class="dropdown-item" href="{{{ config.wwwroot }}}//course/management.php">Manage courses and catagories</a>
<a class="dropdown-item" href="{{{ config.wwwroot }}}/admin/search.php#linkmodules">Plugins</a>
<a class="dropdown-item" href="{{{ config.wwwroot }}}/ucl_tools/">UCL tools</a>
<hr>