{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template theme_ucl/hero
    Example context (json):
    {
        "welcome": "welcome string",
        "name": "site name",
        "description": "site descrition"
    }
}}

{{! UCL front page hero element. }}
<div id="ucl-hero" class="full-width py-5">
    <div id="ucl-hero-content" class="container">

        {{! Site name. }}
        <h1 class="display-1">{{{name}}}</h1>
        <p class="lead">{{ description }}</p>

        {{! Login links. }}
        <a class="text-blue" style="font-size: 3rem; font-weight: bold;" href="{{ config.wwwroot }}/login/">
            <i class="mr-2 fa-solid fa-circle-arrow-right"></i>UCL login
        </a>
        <br>
        <br>
        <a class="" href="{{ config.wwwroot }}/login/?altlogin=1">
            <i class="mr-1 fa-solid fa-circle-user"></i>Guest access
        </a>
    </div>
</div>